<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | GLOBAL MIX</title>

    <link rel="stylesheet" href="/css/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <div class="container">
       <h1 class="logo">
            <a href="/">
                <img src="/images/GlobalMix_Primary_Logo.png" alt="Global Mix" class="logo-img">
            </a>
       </h1>
       <nav>
            <ul>
                <li><a href="/#about">About</a></li>
                <li><a href="/#ecosystem">Ecosystem</a></li>
                <li><a href="/#club">Club</a></li>
                <li>
                    <a href="https://www.miamix.io/contact" class="btn-primary" target="_blank">Connect</a>
                </li>
            </ul>
       </nav>
    </div>
</header>

{{ content }}

<footer>
    <div class="container">
        <div class="footer-info">
            <p>Founded by Cristhian Gassmann & Robert Eldridge</p>
            <p>One group. Multiple platforms. One global vision.</p>
        </div>

        <div class="footer-logos">
            <a href="https://onairfoundation.com">
                <img src="/images/ON-AIR_PrimaryLogo_White.png" alt="ON-AIR FOUNDATION" />
            </a>
        </div>
    </div>
</footer>

<script src="/js/script.js" defer></script>

</body>
</html>
